<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>43分钟前</string>
		<key>replys</key>
		<array>
			<string>任泉    11111111111111111111</string>
			<string> 赵薇   黑乎乎的很多很多很多很多很多很多很多很多很多很多好的好</string>
		</array>
		<key>pictures</key>
		<string>picture4</string>
		<key>shuoshuoText</key>
		<string>范冰冰   不带老婆度假的后果</string>
		<key>name</key>
		<string>范冰冰</string>
		<key>icon</key>
		<string>范冰冰</string>
	</dict>
	<dict>
		<key>time</key>
		<string>5小时前</string>
		<key>replys</key>
		<array>
			<string>汪峰   及金额金额金额金额金额金额金额金额金额金额及金额金额金额及诶诶金额金额金额金额金额金额及</string>
		</array>
		<key>pictures</key>
		<string>picture4</string>
		<key>shuoshuoText</key>
		<string>范冰冰  不带老婆度假的后果</string>
		<key>name</key>
		<string>范冰冰</string>
		<key>icon</key>
		<string>范冰冰</string>
	</dict>
	<dict>
		<key>time</key>
		<string>23小时前</string>
		<key>replys</key>
		<array>
			<string>高圆圆   是计算机上计算机上计算机上计算机上计算机上计算机上计算机上计算机上计算机上计算机上</string>
			<string> 王宝强  的基督教的基督教的基督教打交道的基督教的基督教的基督教的</string>
		</array>
		<key>pictures</key>
		<string>picture4</string>
		<key>shuoshuoText</key>
		<string> 范冰冰  不带老婆度假的后果</string>
		<key>name</key>
		<string>范冰冰</string>
		<key>icon</key>
		<string>范冰冰</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>replys</key>
		<array>
			<string> 王宝强  的基督教的基督教的基督教打交道的基督教的基督教的基督教的</string>
		</array>
		<key>pictures</key>
		<string>picture1</string>
		<key>shuoshuoText</key>
		<string>不带老婆度假的后果</string>
		<key>name</key>
		<string>范冰冰</string>
		<key>icon</key>
		<string>范冰冰</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>replys</key>
		<array/>
		<key>pictures</key>
		<string>picture4</string>
		<key>shuoshuoText</key>
		<string>不带老婆度假的后果</string>
		<key>name</key>
		<string>范冰冰</string>
		<key>icon</key>
		<string>范冰冰</string>
	</dict>
	<dict>
		<key>time</key>
		<string>两天前</string>
		<key>replys</key>
		<array>
			<string>高圆圆   谁谁谁谁谁谁水水水水哈哈哈哈哈哈哈哈哈哈哈哈</string>
		</array>
		<key>pictures</key>
		<string>picture4</string>
		<key>shuoshuoText</key>
		<string>林峰   我就在这里带着你很值得，一切都不可思议，因为爱的只有你，我遗失了自己</string>
		<key>name</key>
		<string>林峰</string>
		<key>icon</key>
		<string>林峰</string>
	</dict>
	<dict>
		<key>time</key>
		<string>3天前</string>
		<key>replys</key>
		<array>
			<string>范冰冰：我没有说谎，是爱情说谎，他太依赖，骗我说有可能有希望，我没有说谎，是很感谢今晚的相伴，但我竟然有些不习惯</string>
			<string>林峰：你算什么男人，算什么男人，眼睁睁看她走却不闻不问，是有多天真，就别再硬撑，期待你挽回你却拱手让人</string>
		</array>
		<key>pictures</key>
		<string>picture4</string>
		<key>shuoshuoText</key>
		<string> 高圆圆  我爱你，是忠于自己忠于爱情的信仰，我爱你，是那么温暖那么温柔的力量，爱是一种信仰，把你，带回我的身旁</string>
		<key>name</key>
		<string>高圆圆</string>
		<key>icon</key>
		<string>高圆圆</string>
	</dict>
</array>
</plist>
